# Template used to create this container: /usr/share/lxc/templates/lxc-download
# Parameters passed to the template: -d debian -r stretch -a amd64 --no-validate
# Template script checksum (SHA-1): 740c51206e35463362b735e68b867876048a8baf

# Network config for mac vlan interfaces connected by default to one host's bridge
# hostname of the container 
# Distribution configuration
# Container specific configuration

# Distribution configuration
lxc.include = /usr/share/lxc/config/debian.common.conf
lxc.include = /usr/share/lxc/config/debian.userns.conf

# Container specific configuration
# Template used to create this container: /usr/share/lxc/templates/lxc-download
# For additional config options, please look at lxc.container.conf(5)
#lxc.include = /usr/share/lxc/config/nesting.conf
lxc.arch = linux64
lxc.utsname = <cntrName>

# Include = /etc/lxc/default.conf
lxc.id_map = u 0 <subUid> <subUidCount>
lxc.id_map = g 0 <subGid> <subGidCount>
lxc.mount.auto = proc:mixed sys:ro cgroup:mixed
lxc.rootfs = /home/lxcadmin/.local/share/lxc/<cntrName>/rootfs
lxc.rootfs.backend = dir
lxc.logfile = /caldrons/cntrs/lxcs/logs/<cntrName>.log
lxc.loglevel = TRACE

# Network configuration
# The container is on the same network as a bridge created on one nic of the host
# in NDC the bridge and the container's nic are on the green network.  
lxc.network.type = veth
lxc.network.flags = up
# The name of the bridge nic created on one nic of the host. 
lxc.network.link = lxcbr0   lxc.network.name = nic0@lxcbr0  
#The ip address of the container in cidr format 
lxc.network.ipv4 = <cntrIpCIDR>
# The mac address of container nic
lxc.network.hwaddr = <cntrMacAddress>
 # The cntr and the host's bridge are on the same network
lxc.network.ipv4.gateway = <cntrAndHostGateway>

